{
  "parser": "php",
  "plugins": [
    "@prettier/plugin-php"
  ],
  "phpVersion": "8.3",
  "printWidth": 150,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "tabWidth": 4,
  "trailingCommaPHP": true,
  "braceStyle": "per-cs",
  "requirePragma": false,
  "insertPragma": false,
  "overrides": [
    {
      "files": "*.yml",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}