<?php

$merchant_id = '123';
$merchant_key = '456';
$debug = 0;

// 3DS client credentials see: https://docs.cielo.com.br/ecommerce-cielo/docs/token-acesso
$client_id_3ds = '00000000-0000-0000-0000-000000000000';
$client_secret_3ds = '0000000000000000000000000000000000000000';

putenv("CIELO_MERCHANT_ID=$merchant_id");
putenv("CIELO_MERCHANT_KEY=$merchant_key");
putenv("CIELO_DEBUG=$debug");
putenv("CIELO_CLIENT_ID_3DS=$client_id_3ds");
putenv("CIELO_CLIENT_SECRET_3DS=$client_secret_3ds");
